:root{
     --bright-orange: hsl(31, 77%, 52%);
     --dark-cyan: hsl(184, 100%, 22%);
     --very-dark-cyan: hsl(179, 100%, 13%);
}
*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
}

p{
     font-size: 15px;
     margin-bottom: 40px;
     line-height: 1.5;
}
.btn{
     background-color: white;
     border: 3px solid white;
     border-radius: 20px;
     padding: 10px 20px;
     cursor: pointer;
     transition: all 0.5s;
}
.btn:hover{
     background-color: transparent;
     color: white !important;
}
.card img{
    
     margin-bottom: 30px;
}
.bright-orange{
     background-color: var(--bright-orange);
     color: white;
     border-radius: 15px 15px 0px 0px;
}
.dark-cyan{
     background-color: var(--dark-cyan);
     color: white;
}
.very-dark-cyan{
     background-color: var(--very-dark-cyan);
     color: white;
     border-radius: 0px 0px 15px 15px;
}
.bright-orange .btn{
     color:var(--bright-orange);
}
.dark-cyan .btn{
     color: var(--dark-cyan);
}
.very-dark-cyan .btn{
     color: var(--very-dark-cyan);
}
body{
     
     font-family: "Lexend Deca","sans-serif";
}
h3{
     font-family: "Big Shoulders Display","sans-serif";
     text-transform: uppercase;
     font-size: 30px;
     margin-bottom: 40px;
}
.container{
     padding: 30px;
}
.card{
     padding: 30px;
     
}
@media(max-width:375px){
     .container{
          display: flex;
     }

}
@media(min-width: 1080px){
.container{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 200px;
     min-height: 105vh;
     max-width: 1440px;
     margin: auto;
     }
     .card{
          padding:65px;
     }
     .bright-orange{
          border-radius: 15px 0px 0px 15px;
     }
     .very-dark-cyan{
          border-radius: 0px 15px 15px 0px;
     }
}

.attribution {
     font-size: 11px; text-align: center;
     }
    .attribution a {
         color: hsl(228, 45%, 44%);
         }